
<!-- <div class="navbar navbar-default navbar-fixed-top" >
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">健康档案</a>	
		</div>
	</div>
</div> -->
<div class="container-fluid" style="margin-top: 10px;">
	<div class="row">
	    <div class="col-md-2">
	        <div ui-view="tableSchema">
	        	表类型加载中...
	        </div>
	    </div>
	    <div class="col-md-9">
	    	<div class="row">
				<ng-tip></ng-tip>
	    	</div>
	    	<div class="row">
	    		<div ui-view="custGrid">
		        	档案列表加载中......
		        </div>
	    	</div>
	        
	    </div>
	</div>
</div>