<div class="row">
    <div class="col-md-12">
        <div class="list-group">
           
            <a ui-sref="index(person)" id="tn_person" class="list-group-item" title="health_person">用户档案信息</a>
            <a ui-sref="relation(relation)" id="tn_relation" class="list-group-item" title="health_person">用户关联关系</a>
            
            <a ui-sref="list({tn:1})" id="tn1" class="list-group-item"  title="health_phy_exam_profile">报告1</a>
            <a ui-sref="list({tn:2})" id="tn2" class="list-group-item"  title="health_user_profile">报告2</a>
            <a ui-sref="list({tn:3})" id="tn3" class="list-group-item"  title="health_gene_profile">报告3</a>
           
	        
        </div>
    </div>
</div>
      
	