<div class="row">
    <div class="col-md-12" >
        <div class="list-group" style="margin-right: 3px; ">
           
            <a ui-sref="index(person)" id="tn_person" class="list-group-item" title="health_person">用户档案信息</a>
            <a ui-sref="relation(relation)" id="tn_relation" class="list-group-item" title="health_person">用户关联关系</a>
            
            <a ui-sref="list({tn:1})" id="tn1" class="list-group-item"  title="health_phy_exam_profile">体检报告</a>
            <a ui-sref="list({tn:2})" id="tn2" class="list-group-item"  title="health_user_profile">慢病数据</a>
            <a ui-sref="list({tn:3})" id="tn3" class="list-group-item"  title="health_gene_profile">基因报告</a>
            <a ui-sref="list({tn:4})" id="tn4" class="list-group-item"  title="health_consult_online">问诊记录</a>
        	<a ui-sref="list({tn:5})" id="tn5" class="list-group-item"  title="health_visiting_profile">上门检测报告</a>
            <a ui-sref="list({tn:6})" id="tn6" class="list-group-item"  title="health_phy_exam_detail">体检报告详情</a>
            <a ui-sref="list({tn:7})" id="tn7" class="list-group-item"  title="health_walk_profile">用户记步历史</a>
	        <a ui-sref="list({tn:8})" id="tn8" class="list-group-item"  title="health_archive_profile">用户基本健康档案</a>
	        <a ui-sref="list({tn:9})" id="tn9" class="list-group-item"  title="health_register_profile">用户挂号记录</a>
	        <a ui-sref="list({tn:10})" id="tn10" class="list-group-item"  title="health_diagnoses_recipe_profile">诊断与处方</a>
	        <a ui-sref="list({tn:11})" id="tn11" class="list-group-item"  title="health_prescribe_order">诊断与处方单</a>
	        <a ui-sref="list({tn:12})" id="tn12" class="list-group-item"  title="health_user_report_profile">用户上传报告记录</a>
	        <a ui-sref="list({tn:13})" id="tn13" class="list-group-item"  title="health_user_prescription_profile">用户上传诊断单记录</a>
	        <a ui-sref="list({tn:14})" id="tn14" class="list-group-item"  title="health_user_medical_profile">用户自建病历</a>
	        <a ui-sref="consultmr" id="tn_consultmr" class="list-group-item" title="health_consultmr*">互联网医院</a>
            
        </div>
    </div>
</div>
      
	